*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  color: rgb(214, 91, 91);
  font-family: fantasy;
  font-size: 50px;
}

.main_conatiner{
  width: 100vw;
  height: 97vh;
  text-align: center;
  background-color:rgb(243, 232, 219);
  border-radius: 20px;
}

.header{
  /* margin-left: 40px; */
}

.inputtype{
  height: 40px;
  width: 60%;
  border: none;
  border-radius: 10px 5px 5px 10px;
  text-align: center;
}

.main_btn{
  height: 40px;
  width: 40px;
  border-radius: 20%;
  border-color: rgb(216, 144, 144) rgb(132, 132, 190) rgb(131, 193, 131);
  background-color: rgb(184, 214, 214);
  color: brown;
}






/* todolist */


.todo{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  font-size: large;
  /* border: 1px solid black; */
  align-items: center;
  margin-top: 20px;
}

.delete{
  position:absolute;
  margin-left: 950px;
}

.li_style{
  text-align: center;
  border: 1px solid rgb(183, 115, 115);
  max-width: 800px;
  background-color: rgb(190, 203, 229);
  padding: 5px;
  border-radius: 10px;
}







/* Footer */



.main_div{
  max-width: 100vw;
  background-color: antiquewhite;
  text-align: center;
}